@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
/* @import "tailwindcss"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* background-image will be set from the component inline style */

/* *{
  border: solid 1px red;
  transition: background-image 0.6s ease-in-out;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.client-carousel {
  color: #020202;
}

.client-carousel:hover {
  color: red;
}



/* The old keyframe-based background animation has been removed.
   Background images are switched in React to keep text in sync with the current image. */

.hero {
  width: 100%;
  height: 900px;
  background-position: start;
  background-size: cover;
  background-repeat: no-repeat;
  ;
}

.hero-text {
  /* simple fade helper if you wish to use a static class */
  transition: opacity 0.6s ease-in-out;
}

.shadow {
  box-shadow: 0 0 21px 0 #d42e2248;
}

 * {
  margin: 0;
  padding: 0;
  /* border:  solid 1px red; */
}

.navbar {
  width: 90%;
  position: fixed;
  top: 30px;
  border-radius:15px ;
 
}

@media screen and (max-width: 768px) {

  .navbar {
    width: 80%;
    top: 0px;
  }
}